---

# TODO: Support configuration

- name: mongodb-docker | Ensure that redis directories is exists
  file: state=directory path={{item}} recurse=True
  with_items:
  - "{{mongodb_conf_dbpath}}"

- set_fact:
    mongodb_docker_hostname: ""
    mongodb_docker_ports: []
  when: mongodb_docker_net == 'host'

- name: mongodb-docker | Start mongo
  docker:
    hostname: "{{mongodb_docker_hostname}}"
    image: "{{mongodb_docker_image}}"
    name: mongodb
    net: "{{mongodb_docker_net}}"
    ports: "{{mongodb_docker_ports}}"
    pull: always
    restart_policy: always
    state: reloaded
    volumes: "{{mongodb_docker_volumes}}"
    log_opt:
      max-size: 50m
      max-file: 10
